@charset "ISO-8859-1";
/* About Page */

.about_section {
  background-color: #fddacd;
}

.about_section p{
	font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  text-align: justify;
}

.about_section .img-box {
  position: relative;
  overflow: hidden;
  height: 100%; 
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' id='blobSvg'%3E%3Cpath id='blob' d='M448 315Q405 380 344 409.5Q283 439 240 390.5Q197 342 156 320.5Q115 299 107.5 247Q100 195 121 129Q142 63 216 43Q290 23 317.5 97Q345 171 418 210.5Q491 250 448 315Z' fill='%23dba77c'%3E%3C/path%3E%3C/svg%3E");
}

.container-fluid {
  padding-right: 25px;
  padding-left: 25px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.about_section .line {
  content: '';
  width: 300px;
  height: 2px;
  background: black;
  display: inline-block;
  
}

.about_section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.about_section .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
}

.about_section .col-md-5, .col-md-6{
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 30px;
}

@media (min-width: 576px) {
  .about_section .col-sm {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
    
.about_section .col-md-5 {
-ms-flex: 0 0 41.666667%;
flex: 0 0 41.666667%;
max-width: 41.666667%;
}

.about_section .col-md-6 {
-ms-flex: 0 0 50%;
flex: 0 0 50%;
max-width: 42%;
}
 
.box_img1{
	width:800px;
	padding:30px;
	
}



