.edit1
{
	background-color: #36A9AE;
  	background-image: linear-gradient(#37ADB2, #329CA0);
  	border: 1px solid #2A8387;
  	border-radius: 4px;
  	box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  	color: #FFFFFF;
  	cursor: pointer;
  	display: block;
  	font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-size: 12px;
  	line-height: 100%;
  	margin: 0;
  	outline: 0;
  	padding: 5px 5px 5px;
  	text-align: center;
  	transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  	user-select: none;
  	-webkit-user-select: none;
  	touch-action: manipulation;
  	width: 100%;
}
.edit1:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.edit1:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.edit1:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.edit1:disabled:active {
  pointer-events: none;
}

.edit1:disabled:hover {
  box-shadow: none;
}

.edit2
{
	background-color: #36A9AE;
  	background-image: linear-gradient(#37ADB2, #329CA0);
  	border: 1px solid #2A8387;
  	border-radius: 4px;
  	box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  	color: #FFFFFF;
  	cursor: pointer;
  	display: block;
  	font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-size: 12px;
  	line-height: 100%;
  	margin: 0;
  	outline: 0;
  	padding: 5px 5px 5px;
  	text-align: center;
  	transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  	user-select: none;
  	-webkit-user-select: none;
  	touch-action: manipulation;
  	width: 100%;
}
.edit2:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.edit2:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.edit2:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.edit2:disabled:active {
  pointer-events: none;
}

.edit2:disabled:hover {
  box-shadow: none;
}

.edit3
{
	background-color: #36A9AE;
  	background-image: linear-gradient(#37ADB2, #329CA0);
  	border: 1px solid #2A8387;
  	border-radius: 4px;
  	box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  	color: #FFFFFF;
  	cursor: pointer;
  	display: block;
  	font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-size: 12px;
  	line-height: 100%;
  	margin: 0;
  	outline: 0;
  	padding: 5px 5px 5px;
  	text-align: center;
  	transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  	user-select: none;
  	-webkit-user-select: none;
  	touch-action: manipulation;
  	width: 100%;
}
.edit3:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.edit3:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.edit3:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.edit3:disabled:active {
  pointer-events: none;
}

.edit3:disabled:hover {
  box-shadow: none;
}

.edit4
{
	background-color: #36A9AE;
  	background-image: linear-gradient(#37ADB2, #329CA0);
  	border: 1px solid #2A8387;
  	border-radius: 4px;
  	box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  	color: #FFFFFF;
  	cursor: pointer;
  	display: block;
  	font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-size: 12px;
  	line-height: 100%;
  	margin: 0;
  	outline: 0;
  	padding: 5px 5px 5px;
  	text-align: center;
  	transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  	user-select: none;
  	-webkit-user-select: none;
  	touch-action: manipulation;
  	width: 100%;
}
.edit4:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.edit4:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.edit4:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.edit4:disabled:active {
  pointer-events: none;
}

.edit4:disabled:hover {
  box-shadow: none;
}

.edit5
{
	background-color: #36A9AE;
  	background-image: linear-gradient(#37ADB2, #329CA0);
  	border: 1px solid #2A8387;
  	border-radius: 4px;
  	box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  	color: #FFFFFF;
  	cursor: pointer;
  	display: block;
  	font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-size: 12px;
  	line-height: 100%;
  	margin: 0;
  	outline: 0;
  	padding: 5px 5px 5px;
  	text-align: center;
  	transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  	user-select: none;
  	-webkit-user-select: none;
  	touch-action: manipulation;
  	width: 100%;
}
.edit5:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.edit5:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.edit5:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.edit5:disabled:active {
  pointer-events: none;
}

.edit5:disabled:hover {
  box-shadow: none;
}
.edit6
{
	background-color: #36A9AE;
  	background-image: linear-gradient(#37ADB2, #329CA0);
  	border: 1px solid #2A8387;
  	border-radius: 4px;
  	box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  	color: #FFFFFF;
  	cursor: pointer;
  	display: block;
  	font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-size: 12px;
  	line-height: 100%;
  	margin: 0;
  	outline: 0;
  	padding: 5px 5px 5px;
  	text-align: center;
  	transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  	user-select: none;
  	-webkit-user-select: none;
  	touch-action: manipulation;
  	width: 100%;
}
.edit6:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.edit6:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.edit6:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.edit6:disabled:active {
  pointer-events: none;
}

.edit6:disabled:hover {
  box-shadow: none;
}
.edit7
{
	background-color: #36A9AE;
  	background-image: linear-gradient(#37ADB2, #329CA0);
  	border: 1px solid #2A8387;
  	border-radius: 4px;
  	box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  	color: #FFFFFF;
  	cursor: pointer;
  	display: block;
  	font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-size: 12px;
  	line-height: 100%;
  	margin: 0;
  	outline: 0;
  	padding: 5px 5px 5px;
  	text-align: center;
  	transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  	user-select: none;
  	-webkit-user-select: none;
  	touch-action: manipulation;
  	width: 100%;
}
.edit7:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.edit7:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.edit7:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.edit7:disabled:active {
  pointer-events: none;
}

.edit7:disabled:hover {
  box-shadow: none;
}
.edit8
{
	background-color: #36A9AE;
  	background-image: linear-gradient(#37ADB2, #329CA0);
  	border: 1px solid #2A8387;
  	border-radius: 4px;
  	box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  	color: #FFFFFF;
  	cursor: pointer;
  	display: block;
  	font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-size: 12px;
  	line-height: 100%;
  	margin: 0;
  	outline: 0;
  	padding: 5px 5px 5px;
  	text-align: center;
  	transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  	user-select: none;
  	-webkit-user-select: none;
  	touch-action: manipulation;
  	width: 100%;
}
.edit8:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.edit8:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.edit8:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.edit8:disabled:active {
  pointer-events: none;
}

.edit8:disabled:hover {
  box-shadow: none;
}