.gallery-message{
	font-weight: bold;
	text-align: center;
	color: white;
	margin: 10px;
}
.gallery-message-subtext{
	font-weight: bold;
	text-align: center;
	color: #243B3B;
}
.gallery{
	border-top: 10px solid #4D4C4C; 
	border-bottom: 10px solid #4D4C4C; 
	background-color: #FDDACD;
	margin: 25px 0px; 
}